includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - src/Interfaces
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

